@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* banner styling start */
.banner-container{
    max-width: 100%;
    max-height: 600px;
    background-image: url(assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 74px;
}
.banner-content{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 600px;
}
.banner-img{
 margin-top: 50px;
}
.banner-content h2{
color: rgb(13, 19, 33);
font-family: "Azeret Mono";
font-size: 38px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
max-width: 998px;
height: 136px;
color: rgb(13, 19, 33);
margin-bottom: 24px;
}
.banner-content p{
color: rgb(13, 19, 33);
 font-family: "Azeret Mono";
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
max-width: 852px;
height: 52px;
margin-bottom: 30px;
opacity: 0.7;

}
.head-btn{
margin-top: 20px;
border-radius: 8px;
width: 208px;
height: 66px;
border-radius: 8px;

background: rgb(0, 5, 15);
color: rgb(255, 255, 255);
font-family: "Azeret Mono";
font-size: 15px;
font-weight: 600;
/* line-height: 23px; */
letter-spacing: 0%;

margin: 0px 3px;
margin-bottom: 10px;
padding: 5px;
}

/* banner styling end */

/* why web development start */

.why-dev{
    max-width: 1140px;
    margin: 0 auto;
    height: 1395px;
  
    border-radius: 16px;

background: rgba(13, 19, 33, 0.02);
}
.why-dev-container{
    max-width: 946px;
  
    height: 1235px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 97px;
    margin-right: 97px;
    display: flex;
    gap: 37px;
    flex-direction: column;
    align-items: center;
}
.why-dev-content{
    max-width: 852px;
height: 115px;
margin-top: 30px;
}
.content-1{
    width: 850px;
    height: 280px;
display: flex;
gap: 180px;
}
.content-2{
    width: 850px;
    height: 240px;
display: flex;
}
.content-3{
    width: 850px;
    height: 240px;
display: flex;
gap: 180px;
/* align-items: center; */

}
.main-content{
    max-width: 477px;
    height: 140px;

margin-top: 0;
}
.why-dev-content h2{
color: rgb(13, 19, 33);
font-family: "Azeret Mono";
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 20px;
}
.why-dev-content p{
    color: rgb(13, 19, 33);
font-family: "Azeret Mono";
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
.main-content h4{
    color: rgba(13, 19, 33, 0.7);
    font-family: "Azeret Mono";
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    max-width: 400px;
height: 72px;
margin-bottom: 20px;
margin-top: 0;
}
.main-content p{
    color: rgb(13, 19, 33);
font-family: "Azeret Mono";
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.6;
max-width: 468px;
height: 52px;
margin-bottom: 45px;
}
button{
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
width: 150px;
height: 48px;
color: rgb(13, 19, 33);
font-family: "Azeret Mono";
font-size:15px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
background-color: white;
margin-top: 25px;
cursor: pointer;
}
.content-2 .main-content{
    margin-left: 48.8px;
}
.con2-img{
    width: 223.2px;
    height: 208.85px;
}
.con2-img img{
    width: 100%;
    height: 100%;
}
.content-start{
    width: 941px;
    height: 336px;
    border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
margin-top: 30px;
}
.con3-img{
    width: 206.4px;
height: 187.32px;
}
.con3-img img{
    width: 100%;
    height: 100%;
}
.content-2 .main-content h4{
    margin-bottom: 20px;
}
.content-2 .main-content p{
    margin-bottom: 20px;
}
.content-3 .main-content h4{
    margin-bottom: 20px;
}
.content-3 .main-content p{
    margin-bottom: 20px;
}
/* why-dev section end */

/* my-inspiration section start */
.my-inspiration{
    width: 1140px;
    height: 777px;
    margin: 0 auto;
    margin-top: 88px;
}
.my-inspiration-content{
    width: 859px;
height: 118px;
width: 852px;
height: 115px;
margin: 0 auto;
display: flex;
flex-direction: column;
/* justify-content: flex-start; */
align-items: center;
}
.my-inspiration-content h2{
    color: rgb(13, 19, 33);
font-family: "Azeret Mono";
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}
.my-inspiration-content p{
    color: rgb(13, 19, 33);
font-family: "Azeret Mono";
font-size: 14px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
.inspired-vdo{
    width: 1140px;
height: 609px;
margin-top: 48px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
box-sizing: border-box;


}
.my-inspiration-vdo{
    width: 1076px;
height: 550px;
margin:  auto;
}
iframe{
    border-radius: 16px;
}
/* my inspiration end */

/* my target start */
.my-target{
    width: 1140px;
height: 462px;
margin: 0 auto;
margin-top: 150px;
margin-bottom: 180px;
}
.target-content{
    width: 946px;
height: 115px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 auto;
}
.target-content h2{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}
.target-content p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
.target-card{
    display: flex;
    margin-top: 48px;
    gap: 24px;
}
.card1{
    width: 364px;
height: 230px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;
border-radius: 16px;

background: rgba(255, 76, 30, 0.05);
}
.card2{
    width: 364px;
height: 230px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;
border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
}
.card3{
    width: 364px;
height: 230px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;
border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
}
.target-card img{
    margin-bottom: 24px;
}
.target-card h4{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 8px;
}
.target-card p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
margin-bottom: 24px;
}
.target-card a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    
}
/* my target end */

/* /support section start */
.support{
    width: 1140px;
height: 314px;
margin: 0 auto;
border-radius: 16px;
background-image:url('assets/handshake.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-color:  rgba(56, 46, 46, 0.7);
background-blend-mode: overlay;
margin-bottom: 200px;
}
.support-all{
    width: 1044px;
height: 186px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 60px;
}
.support-content{
    width: 730px;
    height: 104px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.support-content h2{
    color: rgb(255, 255, 255);
font-family: "Azeret Mono";
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 16px;
}
.support-content p{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
.support-btn{
    width: 689px;
height: 58px;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;

}
input[type=text]{
    width: 548px;
height: 57px;
align-items: center;
padding: 19px 20px 19px 20px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
padding: 19px 35px 19px 10px;
}
.feedback{
    display: flex;
    gap: 16px;
}
input[type=submit]{
    width: 120px;
height: 58px;
border-radius: 8px;
border: none;
background: rgb(255, 255, 255);
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
cursor: pointer;
}

/* support section end */

/* footer start */
footer{
    margin-top: 79px;
    height: 100px;
    border-radius: 16px;
display: flex;
justify-content: space-around;
text-align: center;
align-items: center;
background: rgba(13, 19, 33, 0.03);
}
.footer-img{
    width: 157.01px;
height:46px;
margin: 0px 10px;
display: flex;
gap: 30px;
}
footer p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
/* footer end */